.login-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.lc-title {
    font-size: 3rem;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
    background-color: #37aec8;
}

.login-form {
    display: flex;
    flex-direction: column;
    border: solid 1px white;
    width: 50%;
    height: 80%;
}

.login-title {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem;

}

.form-item {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.form-item input {
    height: 2rem;
    border: solid 1px #000000;
    padding: 0.5rem;
    font-size: 2rem;
}

.form-item button {
    height: 2rem;
    border: solid 1px white;
    background-color: #37aec8;
    color: white;
    font-weight: bold;
}

.form-item button:hover {
    background-color: white;
    color: #37aec8;
}

.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: last baseline;
    align-items: center;
    height: 20%;

}

.signup-link {
    text-align: center;
    color: white;
    font-size: 1rem;
    margin: 1rem;
}

.submit-btn {
    height: 2rem;
    border: solid 1px white;
    background-color: #37aec8;
    color: white;
    font-weight: bold;
    transition: .3s ease-out;
}

.submit-link {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    margin: 1rem;
}

.submit-link:hover {
    color: #37aec8;
}

.logo {
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

.error-message {
    color: red;
    font-size: 1rem;
    margin: 0;

}

@media (max-width: 768px) {
    .login-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }

    .left-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .lc-title {
        font-size: 3rem;
    }

    .right-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 100%;
        align-items: center;
        background-color: #37aec8;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        border: solid 1px white;
        width: 90%;
        height: 80%;
    }

    .login-title {
        text-align: center;
        color: white;
        font-size: 2rem;
        font-weight: bold;
        margin: 1rem;

    }

    .form-item {
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }

    .form-item input {
        height: 2rem;
        border: solid 1px #000000;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .form-item button {
        height: 2rem;
        border: solid 1px #000000;
        background-color: #37aec8;
        color: white;
        font-weight: bold;
    }

    .signup-container {
        display: flex;
        flex-direction: column;
        justify-content: last baseline;
        align-items: center;
        height: 20%;

    }

    .signup-link {
        text-align: center;
        color: white;
        font-size: 1rem;
        margin: 1rem;
    }

    .logo {
        text-decoration: none;
        color: black;
        font-size: 2rem;
    }
}